header {
	background-color: #e7ecdf;
	background-image: url(../images/slide.png);
	background-position: top center;
	background-repeat: no-repeat;
}

nav {
	float: left;
	overflow: hidden;
}
nav ul {
	margin-left: 95px;
}	

nav ul li {

	float: left;
	list-style-type: none;
}

nav ul li a {
	display: inline-block;
	text-decoration: none;
	margin: 22px 51.5px 22px 0px;
	font-family: 'Gilroy-Light ☞';
	font-size: 18px;
	color: #2e2e2e;
}

nav ul li a:hover {
	color: #ff3c00;
}

.login_reg {
	float: right;
	margin: 22px 15px 22px 0;
}


.login_reg ul li {
	float: left;
	margin-left: 15px;
	list-style-type: none;
}

.login_reg select {
	margin-right: 25px;
	text-decoration: none;
  	background: -webkit-linear-gradient(#ff3c00, #ff3c00);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
	font-family: 'Geometria';
	font-size: 18px;
}

.login_reg .login {
	padding: 6px 43px;
	border: 1px solid #ff3c00;
	border-radius: 2px;
	font-family: 'Gilroy-Light ☞';
	font-size: 18px;
	color: #ff3c00;
	text-decoration: none;
}

.login_reg .login:hover {
	color: #fff;
	background-color: #ff3c00;
}

.login_reg .register {
	padding: 6px 35px;
	border: 1px solid #ff3c00;
	border-radius: 2px;
	font-family: 'Myriad Pro Regular';
	font-size: 18px;
	color: #fff;
	background-color: #ff3c00;
	text-decoration: none;
}

.login_reg .register:hover {
	color: #ff3c00;
	background-color: rgba(0,0,0,0);
}

header .container h1 {
	font-family: 'AvenirNextCyr-Bold';
	font-size: 48px;
	color: #680aab;
	padding: 0px 15px;
	margin-right: 573px;
	margin-top: 135px;

}

header .container p {
	padding: 0px 17px;
	margin-right: 575px;
	margin-top: 40px;
	font-family: 'Gilroy-Light ☞';
	font-size: 16px;
	line-height: 30px;
	color: #2e2e2e;
}

header button {
	margin: 40px 15px 152px 15px;
	padding: 16px 57px;
	border: none;
	background-color: #7db02c;
	font-family: 'Gilroy-Light ☞';
	font-size: 18px;
	outline: none;
	color: #fff;
}

button:hover {
	background: linear-gradient(#7db02c, #5e8f0f,#7db02c);
}